pandas
numpy
scikit-learn
matplotlib
imblearn
seaborn
imbalanced-learn                                                     
pillow                                   
scipy                                    
PyPDF2
pdfminer.six  
pdfplumber                   
pymupdf
nltk
ucimlrepo
openai
tensorflow
pycuda
tensorflow_datasets
